section {
    display: none;
}

sub-section {
    display: none;
}

.note {
    display: none;
}

body::-webkit-scrollbar{
    display: none;
}

#overlay {
    position: absolute;
    width: 100vw;
    z-index: -1;
    height: 100vh;
}

#overlay > * {
    position: absolute;
}
