@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Regular.ttf') format('truetype');
}

body {
    text-align: center;
    font-family: 'Merriweather';
    color: #e4e4ef;
    background-color: #181818;
    margin: auto;
    font-size: 1.5em;
}

h1 {
    color: #ffdd33;
}

h2 {
    color: #9e95c7;
}

h3 {
    color: #ffffff;
}

#index {
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

code {
    font-family: 'Consolas';
}

.titleHeader {
    color: #ffffff;
}

.topLeft {
    position: absolute;
    padding: 20px;
}

.index0 {
    display: none;
}

#slide2, #slide3, #slide4 {
    position: relative;
    text-align: left;
}

#slide3 > * {
    position: absolute;
}

.rowList {
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
}

.rowList > h3 {
    margin: 0px;
}

.colList {
    display: flex;
}

.textCenter {
    text-align: center;
}

.bigFont {
    font-size: 2em;
}

.noMargin {
    margin: 0px;
}

.bigGap {
    gap: 20px;
}

.absoluteCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

.paddingSides {
    padding-left: 20px;
    padding-right: 20px;
}

.paddingTop {
    position: absolute;
    top: 100%;
    transform: translate(50%, 50%);
}

a {
    color: #9090EE;
    text-decoration: none;
}
